.container {
  width: 1440px;
  padding-top: 36px;
}
.search-form {
  width: 371px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  margin: 0 auto;
}

input {
  width: 272px;
  height: 40px;
  border-radius: 4px;
}

button {
  color: #fff;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  display: flex;
  padding: 8px 16px;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  background: #4e75ff;
}
